
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');




body {
    font-family: 'Holtwood One SC', serif;

    background-image: url(https://www.aufildescouleurs.com/58270-large_default/chene.jpg);

    min-width: 30rem;
    background-position: top;
    
}

header {
    
    font-family: sans-serif;
}

.main-header{
    background-image:  url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_12048355.jpg?itok=2Nky-iuU) ;
    
    padding:1rem ;




}


.main-title {
    border: black 1px solid;
    border-radius: 2rem;
    background-position: bottom 1rem;
    background-image: url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_375588814.jpg?itok=K8FhSyuR);
}




.main-header__title {
    font-family: 'Holtwood One SC', serif;
    font-size: 5em;
    size: 7em;
    text-align: center;
    padding-top: 0.8rem;
       
    
}

.main-header__title-second {
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    padding-bottom: 0.4rem;
    text-decoration-line: underline;
    
}

.menu {
    text-align: center;
    font-family: 'Holtwood One SC', serif;
    padding: rem;
    
    
}

li.menu {
    margin: rem;
    display: inline-flex;
    padding: 1rem;
    background-color: #8B0000;
    border: 0.1rem solid black;
    border-radius: 1rem;
    margin-bottom: 0.2rem ;
    background-image: url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_375588814.jpg?itok=K8FhSyuR);

}

strong {
    font-size: 1rem;

}



.main-footer {
    background-image:  url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_12048355.jpg?itok=2Nky-iuU) ;
    text-align: center;
    
}

.main-footer__content {
    text-align: center;
    padding:1rem ;
    border: black solid 1px;
    border-radius: 1rem;
    background-position: bottom 1rem;
    background-image: url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_375588814.jpg?itok=K8FhSyuR);
    display:inline-block  ;
    margin: 1rem auto ;
    padding: 1rem;
    

}

main {
    min-height: 50em;
    
}



.picture {
    border: 1px solid #DEDEDE;
    width: px;
    
    padding: 0.3em ;
    margin: 0.4rem;
    display: inline-block;
    align-content: flex-start;
    display: ;
}

.picture-contaire {

    display: flex;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    flex-flow: column wrap;
    justify-content:center ;
    padding: 1em auto;
    background-image: url(https://www.deco.fr/sites/default/files/styles/width_880/public/2020-01/shutterstock_375588814.jpg?itok=K8FhSyuR);
    

}


article.picture img {  /* gère l'image dans la class article picture */
    width: 100%;


}

.tag-date {
    background-color: #c80000;
    color: white;
    display: block;
    padding: 0.5em;
    margin: 0.2em;
    text-align: justify;
    

}